---

filebeat_container_name: "filebeat"

filebeat_root_location: "/opt/docker-data/{{ filebeat_container_name }}"
filebeat_conf_location: "{{ filebeat_root_location }}/conf"

#filebeat_docker_networks: "{{ aura_docker_network }}"
filebeat_docker_networks:
  - name: "{{ metricbeat_filebeat_logstash_docker_network }}"

filebeat_container_restart_policy: "always"

filebeat_index_number_of_shards: 1

filebeat_index_number_of_replicas: 0

filebeat_version: "6.6.2"

filebeat_load_template_url: "http://elasticsearch.{{ domain }}/_template/filebeat-{{ filebeat_version }}"

filebeat_logstash_host: "{{ aura_logstash_container }}"