---

kibana_container_name: "kibana"

kibana_root_location: "/opt/docker-data/{{ kibana_container_name }}"
kibana_conf_location: "{{ kibana_root_location }}/conf"
kibana_dashboard_location: "{{ kibana_root_location }}/dashboard"

#kibana_docker_networks: "{{ aura_docker_network }}"
kibana_docker_networks:
  - name: "{{ aura_docker_network }}"

kibana_container_restart_policy: "always"

kibana_elasticsearch_input: "http://elasticsearch.{{ domain }}:80"

kibana_url: "http://kibana.{{ domain }}"

kibana_load_dashboard_url: "{{ kibana_url }}/api/kibana/dashboards/import"

kibana_version: "6.6.2"

add_to_hosts_for_dev: ""
