metricbeat.modules:
- module: docker
  metricsets: ["container", "cpu", "diskio", "healthcheck", "info", "image", "memory", "network"]
  hosts: ["unix:///var/run/docker.sock"]
  period: 10s

setup.template.settings:
    index.number_of_shards: {{ metricbeat_index_number_of_shards }}
    index.number_of_replicas: {{ metricbeat_index_number_of_replicas }}

#-------------------------------- Logstash output ----------------------------------

output.logstash:
  hosts: ["{{ metricbeat_logstash_host }}:{{ aura_logstash_port }}"]