filebeat.inputs:
- type: docker
  containers.ids:
    - '*'

setup.template.settings:
  index.number_of_shards: {{ filebeat_index_number_of_shards }}
  index.number_of_replicas: {{ filebeat_index_number_of_replicas }}

output.logstash:
  hosts: ["logstash:{{ aura_logstash_port }}"]